* {
    font-family: 'Lora', serif;
}

a {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: rgb(67, 146, 211);
    color: whitesmoke;
    margin: 0;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 250px;
    list-style-type: none;
}
h1 {
    font-size: 200%;
}

p {
    font-family: 'Poppins', sans-serif;
}