* {
    font-family: 'Lora', serif;
    margin: 0;
}

a {
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
}

h1 {
    font-size: 200%;
}

p {
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    line-height: 1.4;
    background-color: rgb(41, 111, 168);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 2%;
    background-color: rgb(41, 111, 168);
    color: whitesmoke;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 250px;
    padding: 0;
    list-style-type: none;
}

main {
    float: right;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

aside {
    height: fit-content;
    width: 250px;
    margin: 5px;
    padding: 3px;
    background-color: grey;
    border-radius: 5px;
    box-shadow:9px 9px 10px black;
}

#feature-card,
.am-container,
.project-card {
    width: 100%;
    margin: 8px;
}


main section {
    padding: 3px;
    background-color: red;
}

main #feature-card{
    padding: 3px;
    background-color: red;
}

#project-1 {
    background-color: chartreuse;
}

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: grey;
    color: whitesmoke;
}

@media screen and (max-width: 475px){
    header nav ul {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        min-width: 100px;
    }
    footer nav ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
}